::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.no-preview{
    cursor: not-allowed;
}   
a:hover{
    text-decoration: none;
}

a{
    color: rgb(61, 59, 59);
}

.active-video-link{
    color: rgb(206, 202, 196);
}

.active-video-link:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
