#video_list{
    overflow-y:scroll;
}
.searchInp button{
    color:rgb(14, 167, 159) ;
    border:1px solid rgb(14, 167, 159)  ;
  }

.searchInp button:hover{
    background-color:rgb(14, 167, 159)  ;
    border:1px solid rgb(14, 167, 159)  ;
}

.usernameBtn{
    color: rgb(14, 167, 159) ;
    border: 1px solid rgb(14, 167, 159);
}

.usernameBtn:hover{
    color: rgb(14, 167, 159) ;
    border: 1px solid rgb(14, 167, 159);

}

.signupBtn{
    background-color: rgb(14, 167, 159);
    border: 1px solid rgb(14, 167, 159);
}

.signupBtn:hover{
    background-color: rgba(14, 167, 159, 0.658);
    border: 1px solid rgba(14, 167, 159, 0.219);
}