{% extends "courses/base.html" %}
{% load static %}
{% block content %}

<main class="container my-4">
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Dashboard</h3>
	<div class="row">
        <div class="col-md-3">
            {% include 'courses/user/user-sidebar.html' %}
        </div>
        <div class="col-md-9 border rounded" style=" overflow: hidden; overflow-x: scroll;">
            <h3 class="mb-4 border-bottom pb-1 text-center" style="color: #3075BA;;">Contacts History</h3>
            <hr>
            <table class="table table-bordered" style="margin-top: 12px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Message</th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contacts %}
                          <tr>
                              <th scope="row">{{ contact.id }}</th>
                              <td>{{ contact.name }}</td>
                              <td>{{ contact.email }}</td>
                              <td>sellingonlinecourses@gmail.com</td>
                              <td>{{ contact.message }}</td>
                          </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
	</div>
</main>

{% endblock content %}